---
import aboutImg from "@/assets/ale-cover.jpg";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
  description: "About the author, Alejandro",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<div class="flex">
			<div class="flex-shrink-0">
				<Image
					alt="A cartoon cactus looking at the 'Astro.build' logo"
					fetchpriority="high"
					loading="eager"
					src={aboutImg}
					class="w-40 h-40 rounded-lg"
				/>
			</div>
			<div class="ml-4">
				<h1 class="title">About</h1>
				<br />
				<p>Hey, I'm Alejandro!</p>
				<br />
				<p>
					I am majoring in Environmental Studies with a minor in Sustainable Energy at San Jose State University. My passion for environmental conservation drives my academic and professional goals, as I strive to contribute to sustainable solutions and a greener future.
				</p>
				<br />
				<p>
					Outside of school, I'm a Full Stack Engineer with a human-centered approach to the web. I aim to empower underrepresented communities by helping businesses establish a robust online presence through personalized websites. With a keen eye for design and a strong technical skillset, I'm committed to bridging the digital divide.
				</p>
				<br />
			</div>
		</div>
	</div>
</PageLayout>

